{% extends "app/layout.html" %}
{% load custom_filters %}
{% block content %}
<style>
    .content-section {
        padding: 20px;
    }

    .form-group {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .form-group label {
        flex: 0 0 180px;
        text-align: right;
        margin-right: 10px;
    }

    .input-field {
        flex: 1;
        display: flex;
        align-items: center;
    }

    input[type="text"], input[type="number"] {
        width: 100%;
        padding: 6px 12px;
        line-height: 1.5;
        border: 1px solid #ccc;
    }

    .unit-label {
        margin-left: 10px;
        font-size: 0.8em;
        color: #666;
    }

    .optional-label {
        font-style: italic;
        color: #f44336;
    }

    .fieldset {
        margin-top: 20px;
    }

    .button-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-left: 80px;
    }

    .button-container button {
        margin: 0 2px; 
    }

    .help-icon {
        display: inline-block;
        margin-left: 10px; 
        color: #999;
        font-weight: bold;
        cursor: help;
        position: relative;
    }

    .help-icon:hover::after {
        content: attr(data-tooltip);
        position: absolute;
        left: 100%; 
        top: 50%; 
        transform: translateX(10px) translateY(-50%); 
        white-space: nowrap;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 10px;
        z-index: 20;
        display: block;
    }

    .dropdown-menu .dropdown-item {
        color: #212529;
        padding: .25rem 1.5rem;
        display: block;
    }

</style>
<div class="content-section">
    <form method="POST" id="myForm">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <fieldset class="fieldset">
                        <legend>Material Information</legend>
                        {% for field in material_form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">
                                {{ field.label }}
                                {% if field.field.required %}
                                <span class="optional-label">*</span>
                                {% endif %}
                                {% if field.help_text %}
                                <span class="help-icon" data-tooltip="{{ field.help_text }}">?</span>
                                {% endif %}
                            </label>
                            <div class="input-field">
                                {{ field }}
                                <span class="unit-label">{{ units|get_item:field.name }}</span>
                            </div>
                        </div>
                        {% endfor %}
                    </fieldset>
                    <fieldset class="fieldset">
                        <legend>Wave Information</legend>
                        {% for field in wave_form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">
                                {{ field.label }}
                                {% if field.field.required %}
                                <span class="optional-label">*</span>
                                {% endif %}
                                {% if field.help_text %}
                                <span class="help-icon" data-tooltip="{{ field.help_text }}">?</span>
                                {% endif %}
                            </label>
                            <div class="input-field">
                                {{ field }}
                                <span class="unit-label">{{ units|get_item:field.name }}</span>
                            </div>
                        </div>
                        {% endfor %}
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset class="fieldset">
                        <legend>Plot Information</legend>
                        {% for field in plot_form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">
                                {{ field.label }}
                                {% if field.field.required %}
                                <span class="optional-label">*</span>
                                {% endif %}
                                {% if field.help_text %}
                                <span class="help-icon" data-tooltip="{{ field.help_text }}">?</span>
                                {% endif %}
                            </label>
                            <div class="input-field">
                                {{ field }}
                                <span class="unit-label">{{ units|get_item:field.name }}</span>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="form-group row mt-3">
                            <div class="col-12">
                                <div class="button-container">
                                    <button type="button" class="btn btn-danger" onclick="clearAllFields()">Clear form</button>

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Load Config
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#" onclick="loadConfiguration('default1')">Default 1</a>
                                            <a class="dropdown-item" href="#" onclick="loadConfiguration('default2')">Default 2</a>
                                            <div class="dropdown-divider"></div>
                                            <div id="customConfigurations"></div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-custom" onclick="saveConfiguration()">Save Config</button>
                                    <button type="button" class="btn btn-danger" onclick="deleteSpecificConfiguration()">Delete Config</button>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    function clearAllFields() {
        var inputFields = document.querySelectorAll('input:not([name="csrfmiddlewaretoken"])');
        inputFields.forEach(function (field) {
            field.value = '';
        });
    }

    function populateFormValues(data) {
        {% for field in material_form %}
        if (data.hasOwnProperty("{{ field.name }}")) {
            document.getElementById("{{ field.id_for_label }}").value = data["{{ field.name }}"];
        }
        {% endfor %}
        {% for field in wave_form %}
        if (data.hasOwnProperty("{{ field.name }}")) {
            document.getElementById("{{ field.id_for_label }}").value = data["{{ field.name }}"];
        }
        {% endfor %}
        {% for field in plot_form %}
        if (data.hasOwnProperty("{{ field.name }}")) {
            document.getElementById("{{ field.id_for_label }}").value = data["{{ field.name }}"];
        }
        {% endfor %}
    }

    function loadConfiguration(configName) {
        fetch(`/load_configuration/${configName}/`)
            .then(response => response.json())
            .then(data => {
                if (data.config) {
                    populateFormValues(data.config);
                } else {
                    alert('Error loading configuration.');
                }
            });
    }

    function getCSRFToken() {
        let csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        return csrfToken;
    }

    function saveConfiguration() {
        Swal.fire({
            title: 'Enter a number for your configuration (1 - 19)',
            input: 'text',
            inputLabel: 'Configuration Number',
            inputPlaceholder: 'e.g., 1, 2, 3',
            showCancelButton: true,
            inputValidator: (value) => {
                if (!value || isNaN(value) || value < 1 || value > 19) {
                    return 'Please enter a valid number between 1 and 19';
                }
            }
        }).then((result) => {
            if (result.isConfirmed) {
                let configNumber = result.value.trim();
                let configName = `config${configNumber}`;

                let form = document.getElementById('myForm');

                if (!form) {
                    Swal.fire('Error', 'Form element not found.', 'error');
                    return;
                }

                let formData = new FormData(form);
                let configData = {};
                formData.forEach((value, key) => {
                    parsed_key = key.split('-')[1]
                    configData[parsed_key] = value;
                });

                fetch('/save_configuration/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                    },
                    body: JSON.stringify({
                        config_name: configName,
                        config_data: configData
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            Swal.fire('Saved!', `Configuration ${configName} saved successfully!`, 'success');
                            listConfigurations();
                        } else {
                            Swal.fire('Error', 'There was an error saving the configuration.', 'error');
                        }
                    })
                    .catch(error => {
                        Swal.fire('Error', 'Something went wrong while saving the configuration', 'error');
                        console.error('Error saving configuration:', error);
                    });
            }
        });
    }

    function listConfigurations() {
        fetch('/list_custom_configurations/')
            .then(response => response.json())
            .then(data => {
                let dropdown = document.querySelector('#customConfigurations');
                dropdown.innerHTML = '';
                data.configs.forEach(config => {
                    let listItem = document.createElement('a');
                    listItem.className = 'dropdown-item';
                    listItem.href = '#';
                    listItem.textContent = config;
                    listItem.onclick = () => loadConfiguration(config);
                    dropdown.appendChild(listItem);
                });
            })
            .catch(error => {
                console.error('Error fetching configurations:', error);
            });
    }
    document.addEventListener('DOMContentLoaded', listConfigurations);

    function deleteSpecificConfiguration() {
        // Use SweetAlert2 to ask for the configuration number
        Swal.fire({
            title: 'Enter the number of the configuration to delete (1-19)',
            input: 'text',
            inputLabel: 'Configuration Number',
            inputPlaceholder: 'e.g., 1, 2, 3',
            showCancelButton: true,
            inputValidator: (value) => {
                if (!value || isNaN(value) || value < 1 || value > 19) {
                    return 'Please enter a valid number between 1 and 19';
                }
            }
        }).then((result) => {
            if (result.isConfirmed) {
                let configNumber = result.value.trim();
                let configName = `config${configNumber}`;

                Swal.fire({
                    title: `Are you sure you want to delete ${configName}?`,
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((confirmResult) => {
                    if (confirmResult.isConfirmed) {
                        fetch(`/delete_configuration/${configName}/`, {
                            method: 'DELETE',
                            headers: {
                                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                            }
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (data.success) {
                                    Swal.fire('Deleted!', data.success, 'success');
                                    listConfigurations();
                                } else {
                                    Swal.fire('Error', data.error, 'error');
                                }
                            })
                            .catch(error => {
                                Swal.fire('Error', 'Something went wrong while deleting the configuration', 'error');
                                console.error('Error deleting configuration:', error);
                            });
                    }
                });
            }
        });
    }

</script>
{% endblock %}
