{% extends "app/layout.html" %}
{% block content %}
<br />
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <style>
            /* Custom CSS to reduce padding between label and field */
            .custom-label {
                padding-right: 1px;
            }

            .optional-label {
                font-style: italic;
                color: #6c757d; 
            }
        </style>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <fieldset>
                        <legend>Material Information</legend>
                        {% for field in material_form %}
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label custom-label" for="{{ field.id_for_label }}">{{ field.label }}:{% if not field.field.required %}<span class="optional-label"> (Optional)</span>{% endif %}</label>
                            <div class="col-sm-8">
                                {{ field }}
                            </div>
                        </div>
                        {% endfor %}
                    </fieldset>
                    <fieldset>
                        <legend>Wave Information</legend>
                        {% for field in wave_form %}
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label custom-label" for="{{ field.id_for_label }}">{{ field.label }}:{% if not field.field.required %}<span class="optional-label"> (Optional)</span>{% endif %}</label>
                            <div class="col-sm-8">
                                {{ field }}
                            </div>
                        </div>
                        {% endfor %}
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset>
                        <legend>Plot Information</legend>
                        {% for field in plot_form %}
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label custom-label" for="{{ field.id_for_label }}">{{ field.label }}:{% if not field.field.required %}<span class="optional-label"> (Optional)</span>{% endif %}</label>
                            <div class="col-sm-8">
                                {{ field }}
                            </div>
                        </div>
                        {% endfor %}
                        <div class="form-group row mt-3">
                            <div class="col-sm-8">
                                <button class="btn btn-success" type="button" onclick="populateDefaultValues()">Use Default Values</button>
                                <button class="btn btn-danger ml-2" type="button" onclick="clearAllFields()">Clear All Fields</button>
                                <button class="btn btn-custom ml-2" type="submit">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    function populateDefaultValues() {
        {% for field in material_form %}
            document.getElementById("{{ field.id_for_label }}").value = "{{ field.initial }}";
        {% endfor %}
        {% for field in wave_form %}
            document.getElementById("{{ field.id_for_label }}").value = "{{ field.initial }}";
        {% endfor %}
        {% for field in plot_form %}
            document.getElementById("{{ field.id_for_label }}").value = "{{ field.initial|escapejs }}";
        {% endfor %}
    }

    function clearAllFields() {
        var inputFields = document.querySelectorAll('input:not([name="csrfmiddlewaretoken"])');
        inputFields.forEach(function(field) {
            field.value = '';
        });
    }
</script>
{% endblock %}
