{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>

<address>
    This page was created as GUI part for WaveDispersion related Master Thessis <br />
    made by Mechatronic Engineering student at Faculty of Mechanical Engineering <br />
    and Robotics, AGH University of Science and Technology in Krakow. <br />
</address>

<address>
    <strong>Project github:</strong> <a href="https://github.com/Spectyte5/MasterThesis">Github</a><br />
    <strong>Author:</strong>   <a href="mailto:rwrobel@student.agh.edu.pl">rwrobel@student.agh.edu.pl</a><br />
    <strong>Supervisor:</strong> <a href="mailto:staszews@agh.edu.pl">staszews@agh.edu.pl</a>
</address>

{% endblock %}
