{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<p>{{ message }}</p>

<address>
    Project github: <a href="https://github.com/Spectyte5/MasterThesis">Github</a><br />
    This page was created as a Master Thessis for Mechatronic Engineering student on AGH WIMIR Faculty.<br />
</address>

<address>
    <strong>Author:</strong>   <a href="mailto:rwrobel@student.agh.edu.pl">rwrobel@student.agh.edu.pl</a><br />
    <strong>Supervisor:</strong> <a href="mailto:staszews@agh.edu.pl">staszews@agh.edu.pl</a>
</address>

{% endblock %}
