{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Wave Dispersion in Django</h1>
    <p class="lead">
        Ultrasonic wave have found various engineering applications.
        The major problem in these investigations is the fact that many ultrasonic waves are dispersive i.e.,
        the relevant wave speed depends on the frequency of propagating waves. This numerical library 
        provides dispersion characteristics for different wave types and boundaries.
    </p>
    <p><a href="{% url 'app' %}" class="btn btn-primary btn-large">Start the app &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>If you want to learn more on what this app does and how to use it go to documentation page.</p>
        <p><a class="btn btn-custom" href="https://djangobook.com/django-tutorials/">Open documentation &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Source code</h2>
        <p>Access the WaveDispersion in Django source code on the project's github.</p>
        <p><a class="btn btn-custom" href="https://github.com/Spectyte5/MasterThesis">Open GitHub &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>More information</h2>
        <p>Read more about the project, assumptions, goals and updates on the about page.</p>
        <p><a class="btn btn-custom" href="{% url 'about' %}">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
